/Firefox_Driver
/venv_peviitor_scraper
/click_cookies/__pycache__/__init__.cpython-310.pyc
/click_cookies/__pycache__/click_cookies_script.cpython-310.pyc
/browser_settings/__pycache__/browser_settings_file.cpython-310.pyc
